<!-- <div id="bgimg" class="bootstrap-wrapper">
  <div class="container">
    <div class="row mt20">
      <div class="col-md-6 offset-md-3 text-center"> -->
        <!-- <img
            src="https://cdn.pixabay.com/photo/2017/05/11/11/15/workplace-2303851_1280.jpg"
            alt=""
            class="bg-image"
          /> -->
          <h1>Welcome to Examportal</h1>
          <!-- <button mat-raised-button color="accent">Home Page</button>
        </div>
      </div>
    </div>
  </div> -->
  
  <img src="../../../../assets/adminbg2.jpg" alt="">
  <div class="para">
      <br><br><br>
      <p>"If you think <span class="center">education</span>  is expensive, <br> try estimating the <span class="center">cost</span>  of ignorance."</p>
      <br>
  </div>
  